*.gen.go
/.cache
/.direnv
/.env
/.env.*
/.idea/
/.scm-engine.docs.yml
/.scm-engine.yml
/.task/
/3rd-party/
/bin/
/completions/
/coverage.txt
/dist/
/docs/github/_partials/cmd-*
/docs/github/script-attributes.md
/docs/gitlab/_partials/cmd-*
/docs/gitlab/script-attributes.md
/docs/scm-engine.schema.json
/manpages/
/schema/ignore
/scm-engine
/scm-engine.exe
/scm-engine.schema.json