name: Documentation

on:
  push:
    branches:
      - main
      - proper-docs

permissions:
  contents: write

jobs:
  deploy:
    name: "Deploy"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: setup
        run: task setup

      - name: deploy
        run: task docs:deploy
